/* general */
body {
    font-family: Montserrat, Helvetica, Arial;
    position: relative;
    background-color: #212226;
    color: #efefef;
    
}


h1 {
    font-size: 56px;
    font-weight: 700;
    text-shadow: 3px 3px #f4db7d
}

h3 {
    font-size: 22px;
}

section {
    padding-top: 100px;
}

.section-heading {
    color:#FF8FB1;
    font-size: 50px;
    text-align: center;
    margin-bottom: 2%;
}

.img-responsive {
    width: 250px;
}

.container-fluid {
    padding: 3% 15% 7%;
  }

/* animate on scroll */

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal.current {
    transform: translateY(0px);
    opacity: 1
}


/* navigation */
.navbar-color {
    background-color: #212226;
}
.navbar-brand {

    font-family: 'Lobster', cursive;
}
/* intro-section */

#intro {
    background-color: #3F0071;
}



  #buttons {
    position: relative;
    
    left: 50%;
    display: flex;
    transform: translateX(-48.1%);
    justify-content: center;
  }


  .animation {
  
    position: relative;
    left: 50%;
    display: flex;
    transform: translateX(-50.0%);
    justify-content: center;
  }
  
  .animation h1{
    color: #FF8FB1;
    font-size:25px;
    
  }

  #animate {
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Ubuntu Mono";
    
  }
  
  .download-button {
    margin: 5% 3% 5% 0;
    display: inline-block;
  }


#hi {
    text-align: center;
}
#intro-container {
    text-align: center;
}

/* about */

.about{
    text-align: justify;
}


/*education */

#ntu-logo{
    width: 70px;
}

.edu-container {

    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin-right: 4%;
    margin-left: 4%;
    
}
.ntu-logo-container  {

    
    margin-right: 2rem;
}


/* projects */

.card {
    border: 4px solid black;
    border-radius: 8px;
    box-shadow: 10px 10px 0 0 #8f35d8, 10px 10px 0 2px black;
    display: flex;
    text-align: center;
    justify-content: center;
}
 .card-title {
    color: black; 
    padding-top: 2%;
 
    
 }

 .card-text {
    color:#212226;
    text-align: center;
    font-size:15px;
    margin-right: 2%;
    margin-left: 2%
 }

 .project-btn {
    
    background-color: #3F0071;
    padding: 2%;
    margin-bottom:10% ;
 }



/* skill icons */
.skill-icon {
    width: 100px;
    height: 100px;
}

/* empty div for footer*/
.foot-container {
    background-color: #212226;
    height: auto; }


/* media queries*/
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 84px;
    }
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 96px;
    }


}

@media only screen and (max-width: 350px) {
    h1 {
        box-shadow: none;
        text-shadow: none
    }


}